/*.columns {
  background-color: gray;
  border: 1px solid green;
}*/

.hidden {
  display: none;
}

/*
.priority_2 {
  background-color: blue;
}

.priority_3 {
  background-color: purple;
}
.priority_4 {
  background-color: yellow;
}
.priority_5 {
  background-color: orange;
}
.priority_6 {
  background-color: red;
}
*/