%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "/"} To Do List
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.active
        %a{:href => "/tasks/new"} New Item To Do
      %li.divider
      %li
        %a{:href => "/priorities/new"} Priorities List
      %li.divider
      %li.divider
/ End Foundation
